# Enforce consistent line endings
* text=auto eol=lf

# Specify file types
*.py text eol=lf
*.bat text eol=crlf
*.ps1 text eol=crlf

# Force CRLF for specific file types (if needed)
*.cmd text eol=crlf

# Force LF for specific file types
*.sh text eol=lf
*.ts text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.tsx text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.html text eol=lf
*.css text eol=lf
